.hero {
  position: relative;
  padding-top: 27px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 305px;
    background-image: url("../img/index-background/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: 400px) {
    background-size: cover;
    background-position: center center;
  }

  @media (min-width: 768px) {
    &::after {
      display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 125px;
    background-image: none;
  }

  @media (min-width: 1370px) {
    margin: 0 auto;
    padding-top: 111px;
    padding-left: 100px;
    max-width: 1220px;
  }
}

.hero__img-wrap {
  position: relative;
  z-index: 1;
  order: 2;

  @media (min-width: 768px) {
    position: relative;
    z-index: 1;
    margin-top: -83px;
    margin-left: -87px;
  }

  @media (min-width: 1370px) {
    position: absolute;
    top: 0;
    left: 448px;
    margin: 0;
  }
}

.hero__img {
  margin-top: 29px;
  max-width: 709px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.hero__desc {
  position: relative;
  z-index: 2;
  @include font();
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $textLight;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 500px;
    font-size: 20px;
    line-height: 20px;
    color: $textDark;
    text-align: left;
  }
}

.hero__title {
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 500px;
    text-align: left;
  }
}

.hero__choise {
  position: relative;
  z-index: 2;
  width: 100%;

  @media (min-width: 400px) {
    width: auto;
  }

  @media (min-width: 768px) {
    width: initial;
    margin-top: 49px;
  }
}