.socials {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
  }
}

.socials > * + * {
  margin-left: 35px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 22px;
  width: 23px;

  @media (min-width: $tablet) {
    width: 30px;
    height: 30px;
  }

  &:hover {
    & .socials__svg {
      fill: $basicGreen;
    }
  }

  &:active {
    opacity: .3;
  }
}

.socials__svg {
  fill: #666666;

  &_vk {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet) {
      width: 29px;
      height: 18px;
    }
  }

  &_insta {
    width: 16.1px;
    height: 16px;

    @media (min-width: $tablet) {
      width: 22px;
      height: 22px;
    }
  }

  &_fb {
    width: 10px;
    height: 19px;

    @media (min-width: $tablet) {
      width: 13.6px;
      height: 26px;
    }
  }
}