.title-line {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  @include font();
  font-size: 24px;
  line-height: 1em;

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 2000px;
    margin-left: 22px;
    margin-top: 5px;
    height: 2px;
    background: $basicGreen;
    font-size: 36px;
    line-height: 1em;
  }

  @media (min-width: $tablet) {
    font-size: 36px;

    &::before {
      content: "";
      position: absolute;
      right: calc(100% + 20px);
      width: 2000px;
      top: 50%;
      height: 2px;
      transform: translateY(-100%);
      margin-top: 2px;
      background: $basicGreen;
      font-size: 36px;
      line-height: 1em;
    }
  }
}